<div class="content-wrapper">
    <mat-toolbar>
        <span>Current Sprint</span>
    </mat-toolbar>  
     
    <mat-card *ngIf="currentSprint !== null">
        <mat-card-header>
            <mat-card-title>
                <span> {{ currentSprint.name }} </span>
            </mat-card-title>
            <mat-card-subtitle>{{ currentSprint.start | date:'M/d/yy' }} - {{ currentSprint.end | date:'M/d/yy' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>      
            <ng-container *ngFor="let task of currentSprint.todo">
                <mat-card [ngClass]="['task-row', task.type]" >
                    <mat-chip-list>
                        <mat-chip>{{ task.points }}</mat-chip>
                        <span>{{ task.name }}</span>
                        <span class="content-spacer"></span>
                        <button mat-button (click)="moveTaskToBacklog(task)" color="primary" >Move to Backlog</button>
                    </mat-chip-list>
                </mat-card>
            </ng-container>
            <div class="total-points">
                <mat-chip-list><span class="content-spacer"></span><span>Total points </span> <mat-chip>{{ sumSprintTODOPoints() }}</mat-chip></mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="currentSprint === null" [ngClass]="['text-centered']" >
        <button (click)="openSprintCreateDialog()" mat-raised-button color="primary" >Create Sprint</button>
    </mat-card>
    
    <mat-toolbar class="backlog-section" color="primary">
        <span>Backlog</span>
    </mat-toolbar>


    <mat-card>
        <ng-container *ngFor="let task of backlogTasks">
            <mat-card [ngClass]="['task-row', task.type]" (click)="openTaskDetailsDialog(task)">
                <mat-chip-list>
                    <mat-chip>{{ task.points }}</mat-chip>
                    <span>{{ task.name }}</span>
                    <span class="content-spacer"></span>
                    <button mat-button (click)="moveTaskToSprint(task)" [disabled]="currentSprint == null" color="primary" >Move to sprint</button>
                </mat-chip-list>
            </mat-card>
        </ng-container>
    </mat-card>

    <mat-card class="task-add-panel">
        <form #form="ngForm" (ngSubmit)="onTaskFormSubmit(form)">
            <mat-form-field class="task-type-field">
                <mat-select name="task-type" [(ngModel)]="newTaskType">
                    <mat-option value="task"><span class="task-color task"></span>Task</mat-option>
                    <mat-option value="feature"><span class="task-color feature"></span>Feature</mat-option>
                    <mat-option value="bug"><span class="task-color bug"></span>Bug</mat-option>
                    <mat-option value="improvement"><span class="task-color improvement"></span>Improvement</mat-option>
                    <mat-option value="research"><span class="task-color research"></span>Research</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="task-title-field">
                <input matInput name="task-title" placeholder="New task" [(ngModel)]="newTaskTitle" #title="ngModel">
            </mat-form-field>
            <div class="task-button-field">
                <button type="submit" mat-button color="primary"><b>Create</b></button>
            </div>
        </form>
    </mat-card>
</div>