.task-row{
    padding: 0.6em 0.8em;
    margin: 0.3em 0;
}

.task-row .mat-chip{
    margin-right: 1em;
}

.total-points{
    margin-top: 1em;
}

.total-points .mat-chip{
    margin-left: 1em;
}

.task-row button{
    visibility: hidden;
}

.task-row:hover button{
    visibility: visible;
}

.task-row.research{
    border-left: 4px solid #38b453;
}
.task-row.task{
    border-left: 4px solid #3962b4;
}
.task-row.feature{
    border-left: 4px solid #28b2ca;
}
.task-row.bug{
    border-left: 4px solid #c04122;
}
.task-row.improvement{
    border-left: 4px solid #6d36af;
}

.task-add-panel{
    /* margin: 0.3em 1em; */
    padding: 1em 2em;
}

.backlog-section{
    margin-top: 1em;
}

.text-centered{
    text-align: center;
}

.task-color{
    background: rgba(0, 0, 0, 0);
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    margin-top: 0.1em;
    margin-right: 1em;
}

.panel-task-color{
    background: rgba(0, 0, 0, 1);
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-top: 0.1em;
    margin-right: 1em;
    vertical-align: text-bottom;
}

.task-color.research{
    background: #38b453;
}
.task-color.task{
    background: #3962b4;
}
.task-color.feature{
    background: #28b2ca;
}
.task-color.bug{
    background: #c04122;
}
.task-color.improvement{
    background: #6d36af;
}

.content-wrapper{
    margin: 0 auto;
    max-width: 1024px;
}

.content-spacer{
    flex: 1 1 auto;
}

.task-add-panel .task-title-field{
    width: 70%;
}

.task-add-panel .task-type-field{
    width: 18%;
}

.task-add-panel .task-button-field{
    display: inline-block;
    width: 10%;
}